.add-top
  padding-top: 16px;

.add-bottom
  padding-bottom: 16px;

.add-top-less
  padding-top: 8px;

.add-bottom-less
  padding-bottom: 8px;

.add-left
  padding-left: 16px;

.add-right
  padding-right: 16px;
