.toastr-wrapper
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 275px;
  max-height: 175px;

.ktoastr-appear
  opacity: 0.00;


.ktoastr-appear.ktoastr-appear-active
  opacity: 1;
  transition: opacity 500ms ease-in;


.ktoastr-leave
  opacity: 1;


.ktoastr-appear.ktoastr-leave-active
  opacity: 0;
  transition: opacity 1000ms ease-out;
